
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .menu-principal li {
    display: none;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .menu-principal li {
    display: none;
    margin: 0 0;
  }
}
@media only screen and (max-width:800px) {
  .menu-principal li {
    display: none;
    margin: 0 0;

  }
}
@media only screen and (max-width:800px) {

  .bg-herbe {
    background-image: none;
    justify-content: center;

}
.container-texte-herbe {
    width: 100%;

}
.product-row .product {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
    margin-right: 0px;
}
.product-row {

    margin-bottom: 10px;
    flex-direction: column;
}
  .menu-principal li {
     margin: 0px 0px;
}
  .ppcm{
    background-color: : black;

  }

  .menu-principal li {

    display: none

  }
  .menu-principal li.logo {
    display: inline;
  }

.btn{
  display: none;
}
.burger{
  display: block;
}
nav {
  width: 100%;
}
}
